$displays: (inline, block, inline-block, none);

@each $display in $displays {
    .display-#{$display} {
        display: $display;
    }

        .display-#{$display}-important {
            display: $display !important;
        }
}
