@import 'variables/units';
@import 'variables/count';
@import 'variables/directions';
$prefixes: (padding, margin);

@each $prefix in $prefixes {
    @each $unit in $units {
        .#{$prefix}-#{$unit} { // .padding-px or .margin-px/.padding-em or .margin-em ...
            @for $i from -$count through $count {
                $readableUnit: $unit;

                @if($unit == "percent") { // px, percent, em, rem, pt
                    $readableUnit: '%';
                }

                $value: $i;
                $firstPrefixLetter: str-slice($prefix, 1, 1); // m or p
                @if($i < 0) {
                    $value: #{"neg-"}#{str-slice(#{$value}, 2)}; // remove minus from classname
                }

                @if(($prefix != padding and $i < 0) or ($i >= 0)) { // negative values are invalid for padding
                    @each $direction in $directions {
                        $firstLetterDirection: str-slice($direction, 1, 1); // m or p
                        &.#{$firstPrefixLetter}#{$firstLetterDirection}-#{$value} { // .pb-1 or .pb-64 ...
                            #{$prefix}-#{$direction}: #{$i}#{$readableUnit} // padding-bottom: 1px or margin-bottom: 1px
                        } 
                        
                        &.#{$firstPrefixLetter}#{$firstLetterDirection}-#{$value}-important { 
                            #{$prefix}-#{$direction}: #{$i}#{$readableUnit} 
                        }
                    }

                    &.#{$firstPrefixLetter}-#{$value} {
                        #{$prefix}: #{$i}#{$readableUnit};
                    }
    
                        &.#{$firstPrefixLetter}-#{$value}-important {
                            #{$prefix}: #{$i}#{$readableUnit} !important;
                        }
                }
            }
        }
    }
}