.underline { // obsolete
    text-decoration: underline !important;
}

.text-decoration-underline {
    text-decoration: underline !important;
}

.pointer-events-none {
    pointer-events: none;
}

.pointer-events-all {
    pointer-events: all;
}