@import 'variables/units';
@import 'variables/count';
@import 'variables/positions';
$directions: (top, right, bottom, left);
@each $position in $positions {
    .position-#{$position} {
        position: $position;
    }
    .position-#{$position}-important {
        position: $position !important;
    }
}

@each $unit in $units {
        @for $i from -$count through $count {
            $readableUnit: $unit;
            @if($unit=="percent") {
                $readableUnit: '%';
            }
            $value: $i;
            @if($i < 0) {
                $value: #{"neg-"}#{str-slice(#{$value}, 2)};
            }

        .position-#{$unit} {
            @each $direction in $directions {
                &.#{$direction}-#{$value} {
                    #{$direction}: #{$i}#{$readableUnit}; // .right-20 -> right: 20;
                }

                &.#{$direction}-#{$value}-important {
                    #{$direction}: #{$i}#{$readableUnit} !important;
                }
            }
        }
    }
}