@import 'variables/endings';
@import 'variables/count';
$positions: (absolute, relative, fixed, initial);
$directions: (top, right, bottom, left);
@each $position in $positions {
    .position-#{$position} {
        position: $position;
    }
    .position-#{$position}-important {
        position: $position !important;
    }
}

@each $ending in $endings {
        @for $i from -$count through $count {
            $readableEnding: $ending;
            @if($ending=="percent") {
                $readableEnding: '%';
            }
            $value: $i;
            @if($i < 0) {
                $value: #{"neg-"}#{str-slice(#{$value}, 2)};
            }

        .position-#{$ending} {
            @each $direction in $directions {
                $d: str-slice($direction, 1, 1); // p
                &.p#{$d}-#{$value} {
                    #{$direction}: #{$i}#{$readableEnding}; // .pr-20 -> right: 20;
                }

                &.p#{$d}-#{$value}-important {
                    #{$direction}: #{$i}#{$readableEnding} !important;
                }
            }
        }
    }
}